<ion-navbar *navbar>
  <ion-title>Plagas</ion-title>
</ion-navbar>

<ion-content padding class="page1 card-background-image">
  <h4>Plagas asociado coh {{stage.nombre}}</h4>
  <div *ngIf="pests.length>0 && loaded">
      <ion-card *ngFor="let pest of pests; let i=index" (click)="pestClick(i)">
        <ion-row wrap>
          <ion-col width-33>
            <img src="{{pest.file_url}}" image-fallback >
          </ion-col>
          <ion-col width-66>
            <div class="card-title">{{pest.pest_nombre}}</div>
          </ion-col>
        </ion-row>
      </ion-card>
  </div>
  <div *ngIf="pests.length==0 && loaded">
    No hay plagas para esta etape
  </div>

  <div *ngIf="!loaded">
    ...Habia un error...
  </div>

</ion-content>
