<ion-content padding class="start-page">

  <ion-slides pager (slideChangeStart)="onSlideChangeStart($event)" [options]="sliderOptions">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
        <div *ngIf="SQLDbLoaded==false">
          Cargando...
        </div>
        <div *ngIf="SQLDbLoaded">
        <button large full proinpa-green (click)="startButtonClick()" >
          Información según la etapa
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
        <button large full proinpa-green (click)="catalogueButtonClick()" >
          Catálogo
          <ion-icon ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
      <br>
      <div><strong>versión 0.9.2</strong></div>
    </ion-slide>
  </ion-slides>
</ion-content>
