.information-overview {
  ion-item{
    border-bottom: 1px rgb(169, 155, 155) solid;
    padding-left: 0px;
  }
  .card-title{
    width: 100%!important;
    white-space: normal!important;
  }

  .image-col {
    width: 200px;
    height: 100px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .card-image{
    object-fit: cover;
    object-position: TOP;
    min-height: 100%;
    min-width: 100%;
  }
}
