
.stage-list {
  ion-card {
    position: relative;
    text-align: center;
    min-height: 150px;
    max-width: 450px;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: 1px black;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 72%;
    width: 100%;
    color: #fff;
  }

}
