// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/start-page/start-page";
@import "../pages/stage-list/stage-list";
@import "../pages/stage-info/stage-info";
@import "../pages/full-stage/full-stage";
@import "../pages/varieties/varieties";
@import "../pages/image-popup/image-popup";
@import "../pages/vendors/vendors.scss";
@import "../pages/possibilities/possibilities.scss";
@import "../pages/inputs/inputs.scss";
@import "../pages/varieties/varieties.scss";
@import "../pages/possibilities-popup/possibilities-popup.scss";
@import "../pages/inputs-popup/inputs-popup.scss";
@import "../pages/varieties-popup/varieties-popup.scss";
@import "../pages/vendors-popup/vendors-popup.scss";
@import "../pages/info-tabbed-popup/info-tabbed-popup.scss";
@import "../pages/info-tabbed-popup/info-tab/info-tab";
@import "../pages/info-tabbed-popup/management-tab/management-tab";
@import "../pages/info-tabbed-popup/photo-tab/photo-tab";
@import "../pages/catalogue-index/catalogue-index.scss";
@import "../pages/information-overview/information-overview";
@import "../pages/information-overview/instance-details/instance-details";
