.varieties-popup {
  .largeImage{
    max-height: 70vh;
    max-width:100%;
  }
  ion-list-header{
    color:black;
    font-weight: 500;
  }
  ion-note{
    color:#6f5118;
  }
  span{
    color:#6f5118;
    font-weight: 500;
  }
}
