<!--
  Generated template for the InputsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>inputs</ion-title>
</ion-navbar>

<ion-content padding class="inputs">
  <h4 *ngIf="!item">Insumos</h4>
  <h4 *ngIf="item">Insumos asociado con {{item.nombre}}</h4>
  <div *ngIf="inputs.length>0">
    <ion-card>
      <ion-list padding>
        <ion-item *ngFor="let input of inputs; let i=index" (click)="inputClick(i)">
          <ion-row wrap>
            <ion-col class='image-col' width-33>
              <img class='card-image' src="{{input.file_url}}" image-fallback>
            </ion-col>
            <ion-col width-66>
              <div class="card-title">{{input.pnombre}}</div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <div *ngIf="inputs.length==0">
    There are no inputs for this {{item}}
  </div>

</ion-content>
