<ion-content padding class="management-tab">
    <div *ngIf="possibilities.length>0 && loaded==true">
      <div *ngFor="let poss of possibilities; let i=index">
        <ion-card (click)="possClick(i)">
          <img src="{{poss.file_url}}"  image-fallback>
          <div class="card-title">{{poss.pos_nombre}}</div>
          <a>Clic para más información</a>
        </ion-card>
      </div>
    </div>

    <div *ngIf="possibilities.length==0 && loaded">
      There are no available managment possibilities for this {{item}}
    </div>
    <div *ngIf="!loaded">
      Loading data...
    </div>

</ion-content>
