<ion-navbar *navbar>
  <ion-title>Enfermades</ion-title>
</ion-navbar>

<ion-content padding class="page1 card-background-image">
  <h4>Enfermades asociado con {{stage.nombre}}</h4>
  <div *ngIf="disease.length>0 && loaded">
    <ion-card *ngFor="let d of disease; let i=index" (click)="diseaseClick(i)">
      <ion-row wrap>
        <ion-col width-33>
          <img src="{{d.file_url}}" image-fallback >
        </ion-col>
        <ion-col width-66>
          <div class="card-title">{{d.dis_nombre}}</div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div *ngIf="disease.length==0 && loaded">
    No hay enfermades para esta etape
  </div>
  <div *ngIf="!loaded">
    ...Habia un error...
  </div>
</ion-content>
