<ion-navbar *navbar>
  <ion-title>Abioticos</ion-title>
</ion-navbar>

<ion-content padding class="page1 card-background-image">
  <h4>Abioticos asociado con{{stage.nombre}}</h4>
  <div *ngIf="abioticos.length>0">
      <ion-card *ngFor="let abiotic of abioticos; let i=index" (click)="abioticClick(i)">
          <ion-row wrap>
            <ion-col width-33>
              <img src="{{abiotic.file_url}}" image-fallback >
            </ion-col>
            <ion-col width-66>
              <div class="card-title">{{abiotic.ab_nombre}}</div>
            </ion-col>
          </ion-row>
      </ion-card>
  </div>

  <div *ngIf="abioticos.length==0">
    No hay abioticos para esta etape
  </div>

</ion-content>
