<ion-navbar *navbar>
  <ion-title>Variedades</ion-title>
</ion-navbar>

<ion-content class="varieties">
  <div *ngIf="variety.length>0">
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list padding>
      <ion-item *ngFor="let item of items" (click)="varietyClick(item)">
        <ion-row wrap>
          <ion-col width-33>
            <img src="{{item.file_url}}" image-fallback >
          </ion-col>
          <ion-col width-66>
            <div class="card-title">{{item.nombre}}</div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="variety.length==0">
    No hay varieties para esta etape
  </div>


</ion-content>
