.abiotic-popup {
    ion-scroll{
      height: 10em;
    }
    .sliderImage{
      max-height: 9em;
    }
    /*override default item thumbnail sizes*/
    .viewImage{
      max-width:8em !important;
      max-height:8em !important;
    }
}
